@model IEnumerable<Category>;
@{
    ViewData["Title"] = "Category";
}


<div class="">
    <h1 class="display-4">Category List</h1><br>

    <div class="text-end">
        <a asp-controller="Category" asp-action="Create" class="btn btn-primary">
            Create New Category
        </a>
    </div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Category Name </th>

                <th scope="col">Display Order </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var obj in Model)
            {
                <tr class="table-active">
                    <td width="50%">
                        @obj.Name
                    </td>
                    <td width="30%">
                        @obj.DisplayOrder
                    </td>
                    <td width="30%">
                       <a asp-controller="Category" asp-action="Edit" asp-route-id="@obj.Id" class="btn btn-primary">
                          Edit
                       </a>
                       <a asp-controller="Category" asp-action="Delete" asp-route-id="@obj.Id" class="btn btn-warning">
                          Delete
                       </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>
