@{
    ViewData["Title"] = "Home Page";
}

<div class="center">
    <h1 class="display-4"> Welcome to Books Library</h1><br>  
</div>
<p>The library is an open, editable library catalog. It is the large book library, with all kinds of books</p>
